.navbar{
    background-color: purple;
    

}
h1{
    text-align: center;
}
body{
    background: linear-gradient(to right, #FFF, rgb(132, 78, 132)) ;
}
.card{
    text-align: center;
    align-self: center;
}
#cardTotal{
    background-color: #FFF;
}